{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">L'identifiant et/ou le mot de passe n'est pas reconnu. Veuillez recommencer</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            Bonjour {{ app.user.userIdentifier }}, <a href="{{ path('user_logout') }}">Se déconnecter</a>
        </div>
    {% endif %}

    <h1 class="h3 mb-3 font-weight-normal">Veuillez vous connecter</h1>
    <label for="inputEmail">Identifiant (email ou pseudo) </label>
    <input type="text" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
    <br><label for="inputPassword">Mot de passe </label>
    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
    <br><label> Se souvenir de moi <input class="checkbox" type="checkbox" name="_remember_me" checked="checked"></label>
    <br><button class="btn btn-lg btn-primary" type="submit">Connexion</button>

</form>
{% endblock %}
