
body {
    background: #191f33;
    background-attachment: fixed;
    color: #fff;
}
tbody{
    color: #fff;
    font-size: medium;
}
th{
    color:#fff;
    font-size: medium;
}
h1, h2, h3{
    display:block;
}
h1{
    color: greenyellow;
}

a {
    color: orange;
    text-decoration: none;
}

a:hover {
    color: #BC956B;
}
a:hover{
    color: deeppink;
}

header {
    display: block;
    max-width: 100%;
    padding:20px;
}

header img {
    height: 50%;
}
header a{
    color:#fff;
}
.photo{
    max-width: 200px;
    border-radius: 6px;
}

@media only screen and (max-width: 800px) {
    img.photo {
        display: flex;
        position:relative;
        top:5px;
        left: 120px;
        width:30%;
        border-radius: 6px;
    }
}

.bg-turquoise{
    background-color: #00b0a3;
    color:#fff;
    border-radius: 8px;
    padding:8px;
    margin-left:50px;
}

nav ul {
    display: flex;
    list-style: none;
    padding-left: 0;
}

nav li {
    margin-right: 1rem;
    padding-right:2em;
}

body {
    padding: 0;
    margin: 0;
    font-size: 20px;
    min-height: 100vh;
}

main{
    border-radius: 10px;
    border-style: solid;
    border-color: deepskyblue;
    padding: 15px;
    width:90%;
}
.center {
    margin: auto;
    width: 70%;
    padding: 10px;
}

footer {
    margin-top: 2em;
    text-align: center;
    width:100%;
}


.flash {
    padding: 20px;
    font-weight: bold;
    font-size: 1.6rem;
    margin: 1rem 0;
    border-radius: 5px;
    text-align: center;
}

.flash-success {
    background-color: forestgreen;
}

.flash-error {
    background-color: firebrick;
}

/*.btnLieu {*/
/*    background-color: dodgerblue;*/
/*    color: dodgerblue;*/
/*    box-shadow: #191f33;*/
/*    border-radius: 50%;*/
/*}*/

form{
    font-size: medium;
}
input{
    display: block;
    border-radius: 6px;
}
button{
    color:#fff;
    border-radius: 6px;
}
select{
    color:#000;
    border-radius: 6px;
}
file{
    color:#000;
    border-radius: 6px;
}
.enligne{
    display:inline;
}
.btn{
    color:#fff;
    background-color: orange;
    border-style: none;
    margin:10px;
}
.btn:hover{
    color:#fff;
    background-color: deeppink;
    border-style: none;
}

label{
    display:flex;
}
form table{
    padding-left:5em;
}