header {
    display: flex;
}

body {
    background: #191f33;
    background-attachment: fixed;
    color: #EEE;
}


a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: #BC956B;
}


body > .container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header img {
    height: 280px;
}

nav {
    float: right;
}

nav ul {
    display: flex;
    list-style: none;
    padding-left: 0;
    justify-content: flex-end;

}

nav li {
    margin-right: 1rem;
}

footer {
    margin-top: 2em;
    text-align: center;
}

.flash {
    padding: 20px;
    font-weight: bold;
    font-size: 1.6rem;
    margin: 1rem 0;
    border-radius: 5px;
    text-align: center;
}

.flash-success {
    background-color: forestgreen;
}

/*.btnLieu {*/
/*    background-color: dodgerblue;*/
/*    color: dodgerblue;*/
/*    box-shadow: #191f33;*/
/*    border-radius: 50%;*/
/*}*/

input {
    display: block;
    width: 20%;
}
checkbox{
    display:inline;
}
label{
    display:flex;
}
form{
    padding-left:5em;
}