{% extends 'base.html.twig' %}

{% block title %}Créer une sortie{% endblock %}

{% block body %}
    <h1>Créer une nouvelle sortie</h1>

    {{ include('sortie/_form.html.twig') }}
    <br>
    <a href="{{ path('sorties_liste') }}"><button class="btn"> Retour à la liste des sorties </button></a>

{% endblock %}
