{% extends 'base.html.twig' %}

{% block title %}New Sortie{% endblock %}

{% block body %}
    <h1>Create new Sortie</h1>

    {{ include('sortie/_form.html.twig') }}
    <a href="{{ path('app_lieu_new') }}"><img src="{{ asset('assets/img/logo.png') }}" alt="Créer un lieu"></a>
    <a href="{{ path('sorties_liste') }}">Retourner à la liste des sorties</a>
{% endblock %}
