{% extends 'base.html.twig' %}

{% block title %}Nouvel utilisateur{% endblock %}

{% block body %}
    <h1>Enregistrer un nouvel utilisateur</h1>

    {{ include('user/_form.html.twig') }}

    <a href="{{ path('user_index') }}"><button class="btn" value="Liste de tous les utilisateurs">Liste de tous les utilisateurs</button></a>

{% endblock %}
